.fc .fc-popover-header {
    background: #1d2028 !important;
    border-bottom: 1px solid rgb(255 255 255 / 20%);
}
textarea.select2-search__field {
    color: #6c757e;
}

.form-control[readOnly] {
    background-color: #13151f !important;
}

.fc .fc-more-popover .fc-popover-body {
    background: #1d2028 !important;
}
ul#iti-0__country-listbox {
    background-color: #13151f !important;
}

li.iti__standard:hover {
    background-color: #414141;
}

li.iti__active {
    background-color: #414141;
}
