@import "../../assets/scss/style";
@import "../../assets/scss/custom";
@import "../../assets/scss/app";

.slot-color-dot {
    width: 11px !important;
    height: 10px !important;
}

.iti {
    display: block !important;
    width: 100%;
}

