.menu-links .nav > li:hover > a, .menu-links .nav > li.active > a {
    @media only screen and (max-width: 991px) {
        color: #f17732 !important;
    }
}

footer .ft-contact .contact-bx .contact-number .number {
    white-space: nowrap;
}

.header .secondary-menu {
    @media only screen and (max-width: 575px) {
        height: unset;
    }

    @media only screen and (max-width: 991px) {
        margin-top: 10px !important;
    }
}

.menu-links .nav > li > a {
    @media (min-width: 1080px) and (max-width: 1340px) {
        padding: 45px 12px !important;
        font-size: 15px;
    }

    @media (min-width: 992px) and (max-width: 1140px) {
        padding: 45px 7px !important;
        font-size: 13px;
    }
}

.dashboard-button {
    @media (max-width: 1179px) {
        padding: 15px !important;
    }

    @media (max-width: 1140px) {
        padding: 15px 8px !important;
    }
}

.appointment-header-btn {
    @media (max-width: 1179px) {
        padding: 15px 30px 15px 15px !important;
    }

    @media (max-width: 1140px) {
        padding: 15px 30px 15px 6px !important;
    }
}

.menu-links .nav > li:hover a i {
    transform: unset;
}

.menu-links {
    .nav {
        & > li {
            .mega-menu {
                li {
                    a {
                        @media only screen and (max-width: 991px) {
                            width: 100%;
                        }
                    }
                }
            }
        }

        li {
            .sub-menu {
                li {
                    a {
                        @media only screen and (max-width: 991px) {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

.mobile-logo {
    width: 60px !important;
    height: auto !important;
}

.menu-logo img {
    @media (max-width: 1230px) and (min-width: 992px) {
        width: 60px !important;
    }

    @media (max-width: 575px) {
        width: 60px !important;
    }
}

.appointment-container {
    @media (max-width: 375px) {
        display: flex !important;
        flex-direction: column;
    }
}

.appointment-available, .appointment-booked {
    @media (max-width: 375px) {
        width: 100%;
    }
}

.appointment-available div {
    @media (max-width: 375px) {
        margin-left: 0 !important;
    }
}

.medical-heading {
    @media (max-width: 360px) {
        font-size: 32px !important;
    }
}

.breadcrumb-row {
    @media (max-width: 340px) {
        padding: 10px 14px !important;
    }
}

.blog-area .pt-img2 {
    @media (max-width: 1199px) {
        bottom: 0 !important;
    }

    @media (max-width: 991px) {
        bottom: -20px !important;
    }
}

.feature-bx2 {
    .feature-box-xl{
        img{
            width: 60px;
            height: 60px;
        }
    }
}

.phone-number{
    .hide{
        display: none;
    }
    #error-msg{
        color:#f72b50;
    }
    #valid-msg{
        color: #209f84;
    }
}

.iti {
    width: 100%;
}

.main-banner {
    @media (max-width: 575px) {
        width: 100%;
    }
}

.pt-img1.animate-wave {
    @media (max-width: 991px) {
        top: 70px;
    }
}

.appointment-calendar {
    color: #444 !important;
}

.swiper-pagination {
    .swiper-pagination-bullet {
        display: none !important;
    }
}

.appointment-thumb {
    @media (max-width: 380px) {
        width: 100%;
    }
}

.rs-nav .menu-links {
    @media (max-width: 991px) {
        background-color: #333f6c;
    }
}

.menu-links .nav {
    @media (max-width: 340px) {
        width: 100%;
        min-width: unset;
    }
}

.appointment-button .btn {
    @media (max-width: 290px) {
        font-size: 13px;
    }
}

.swiper-slide {
    height: auto;

    .feature-container {
        height: 93%;
    }
}

.front-slot-data{
    .time-slot {
        &.bookedSlot {
            background: #f62947 !important;

            &:hover {
                background: #ec0927 !important;
            }
        }

        &.activeSlot {
            background: #5d5dc2 !important;
        }

        &:hover {
            background: #5d5dc2 !important;
        }
    }

}

.contact-bx {
    @media (max-width: 300px) {
        flex-direction: column;
    }

    .contact-number {
        @media (max-width: 300px) {
            text-align: center;
        }

        span {
            @media (max-width: 300px) {
                margin-top: 10px;
            }
        }
    }
}

.team-member {
    .doctor-appointment-btn, .about-appointment-btn {
        @media (max-width: 365px) {
            margin-left: -25px;
            margin-right: -25px;
        }    
    }
    
    .team-media img {
        width: 170px;
        height: 170px;
        object-fit: cover;
    }
} 

//datepicker
.datepicker table tr td.active.active {
    background-image: linear-gradient(to bottom, #565acf, #565acf);

    &:hover {
        background-image: linear-gradient(to bottom, #494db0, #494db0);
    }
}

.booking-button {
    padding: 20px 30px;

    @media (max-width: 280px) {
        padding: 20px 10px;
    }
}

.booking-home-button {
    padding: 20px 20px;
}

.btn-icon-bx {
    min-width: 40px;
    width: auto;
}

.team-member {
    .team-media {
        &::before {
            @media (max-width: 575px) and (min-width: 430px) {
                background-size: 57%;
            }
        }

        &::after {
            @media (max-width: 575px) and (min-width: 430px) {
                background-size: 80%;
            }
        }
    }
}

.table-condensed{
    tbody tr {
        .today {
            background-color: #e8e8e8 !important;
            background-image: linear-gradient(to bottom, #e8e8e8, #e8e8e8) !important;
            
            &:hover {
                background-color: #dedede !important;
                background-image: linear-gradient(to bottom, #dedede, #dedede) !important;
            }
        }

        .today.active {
            background-image: linear-gradient(to bottom, #565acf, #565acf) !important;

            &:hover {
                background-image: linear-gradient(to bottom, #494db0, #494db0) !important;
            }
        }
    }
}

.w-20px {
    width: 20px;
}

.datepicker-days{
    .table-condensed{
        td {
            text-align: center;
        }
    }
}
.datepicker table tr td{
    width: 40px !important;
    height: 40px !important;
}
.datepicker table tr th{
    height:32px
}
